* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: rgb(149, 132, 165);
  color: black;
  width: 100%;
  min-height: 100%;
}

#image {
  max-width: 100%;
  display: block;
  margin: auto;
}
#img-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
header {
  display: block;
  text-align: center;
  background-color: black;
  color: #ffffff;
}
section {
  display: block;
  text-align: center;
  background-color: rgb(149, 132, 165);
}
ul {
  display: block;
  text-align: center;
  text-align: justify;
  text-justify: auto;
  margin: 1% 20% 1% 20%;
}
.zel {
  display: block;
  text-align: center;
  font-style: italic;
  margin: 1% 25% 1% 35%;
}
span {
  margin: 1% 0 1% 0;
  font-style: italic;
  font-weight: bold;
}
footer {
  margin: 1% 0 1% 0;
  text-align: center;
  display: block;
}
#tribute-info {
  margin-bottom: 2%;
  margin-top: 2%;
}
